<template name="header"> 
	<header class="navbar">
		<div class="navbar navbar-default" role="navigation">
		    <div class="navbar-header">
		        <a class="navbar-brand" href="/">KPN Digital Coffee information</a>
		    </div>
	
		    <div class="navbar-collapse collapse">
		    	{{#if checkUser}}
		        <ul class="nav navbar-nav">
		            <li class="active"><a href="{{pathFor 'addtransaction'}}">Add a transaction</a></li>
		        </ul>
		        <ul class="nav navbar-nav">
		            <li class="active"><a href="{{pathFor 'admin'}}">Admin</a></li>
		        </ul>
		        {{/if}}
		        <ul class="nav navbar-nav navbar-right">
		            {{> loginButtons }}
		        </ul>

		    </div>
		</div>
	</header> 
	{{analytics}}
</template>
